<ion-header >
  <div *ngIf="episode">
  <ion-toolbar>

    <ion-title class="ion-text-center">{{episode.episode}}</ion-title>
    <ion-buttons color="secondary"  slot="start">
      <ion-back-button  defaultHref="episode"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
  </div>
</ion-header>

<ion-content color="favorite">
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <div *ngIf="episode">
          <ion-card>
            <ion-card-content style="background-color: #B6C867">
              <ion-card-subtitle>{{episode.air_date}}</ion-card-subtitle>
              <ion-card-title class="ion-text-center"><strong>{{episode.name}}</strong></ion-card-title>
              <ion-grid class="ion-text-center">
                <ion-col size="12">
                  <ion-button  color="button" (click)="habilitarLista()">Personales</ion-button>
                </ion-col>
<!--                <ion-col size="6">-->
<!--                  <ion-button  color="button" (click)="habilitarLista()">Dimension</ion-button>-->
<!--                </ion-col>-->
              </ion-grid>
              <ion-grid>
                <ion-row *ngIf="habilitarlista">
                  <ion-col size="4" *ngFor="let listCharacter of listCharacters" >
                    <button style="background-color: #B6C867; " (click)="mostrarPopUp($event, listCharacter)">
                    <img  src="{{listCharacter.image}}">
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>


            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
