.ion-color-favoritePers {
  --ion-color-base: var(--ion-color-favoritePers);
  --ion-color-base-rgb: var(--ion-color-favoritePers-rgb);
  --ion-color-contrast: var(--ion-color-favoritePers-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favoritePers-contrast-rgb);
  --ion-color-shade: var(--ion-color-favoritePers-shade);
  --ion-color-tint: var(--ion-color-favoritePers-tint);
}
.ion-color-button{
  --ion-color-base: var(--ion-color-button);
  --ion-color-base-rgb: var(--ion-color-button-rgb);
  --ion-color-contrast: var(--ion-color-button-contrast);
  --ion-color-contrast-rgb: var(--ion-color-button-contrast-rgb);
  --ion-color-shade: var(--ion-color-button-shade);
  --ion-color-tint: var(--ion-color-button-tint);
}
