.ion-color-popup{
  --ion-color-base: var(--ion-color-popup);
  --ion-color-base-rgb: var(--ion-color-popup-rgb);
  --ion-color-contrast: var(--ion-color-popup-contrast);
  --ion-color-contrast-rgb: var(--ion-color-popup-contrast-rgb);
  --ion-color-shade: var(--ion-color-popup-shade);
  --ion-color-tint: var(--ion-color-popup-tint);
}
