<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rick And Morty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
<div sizeMd="4" offsetMd="4" class="ion-text-center">
  <ion-img src="../../assets/rick-morty.jpeg"></ion-img>
</div>
  <div sizeMd="4" offsetMd="4" class="ion-text-center">
    <ion-button [routerLink]="['/userlist']">Personajes</ion-button>

  </div>

  <div sizeMd="4" offsetMd="4" class="ion-text-center">
    <ion-button [routerLink]="['/episode']">Episodios</ion-button>

  </div>

</ion-content>
